

<div class="column row" id="content">
    <h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>
  <h3 class="text-center">Creating a sticky Navigation Menu with Top Bar!</h3>
  <img src="http://placehold.it/1200x300&text=content/100">
  <img src="http://placehold.it/1200x300&text=content/200">
  <img src="http://placehold.it/1200x300&text=content/300">
  <img src="http://placehold.it/1200x300&text=content/400">
  <img src="http://placehold.it/1200x300&text=content/500">
  <img src="http://placehold.it/1200x300&text=content/600">
  
</div