/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 */


/*================
    CSS for Article
==================*/

.wide-article-link {
    background-color: #fefefe;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid #cacaca;
    margin-bottom: 1rem;
}

.wide-article-link .article-title a {
    color: #0a0a0a;
}

.wide-article-link .article-title a:hover,
.wide-article-link .article-title a:focus {
    color: #1779ba;
}

.wide-article-link .article-elipsis .read-more {
    font-weight: bold;
}

.wide-article-link .article-title,
.wide-article-link .article-author,
.wide-article-link .article-elipsis {
    margin-bottom: 0.25rem;
}

.wide-article-link .article-social {
    margin-top: 0.75rem;
}

.wide-article-link .article-social .social {
    margin-right: 0.25rem;
}

.wide-article-link .article-social .social.comments {
    background-color: #8a8a8a;
    color: #fefefe;
}

.wide-article-link .article-social .social.comments:hover,
.wide-article-link .article-social .social.comments:focus {
    background-color: #6e6e6e;
    color: #fefefe;
}

.wide-article-link .article-social .social.facebook {
    background-color: #3b5998;
    color: #fefefe;
}

.wide-article-link .article-social .social.facebook:hover,
.wide-article-link .article-social .social.facebook:focus {
    background-color: #2f477a;
    color: #fefefe;
}

.wide-article-link .article-social .social.twitter {
    background-color: #55acee;
    color: #fefefe;
}

.wide-article-link .article-social .social.twitter:hover,
.wide-article-link .article-social .social.twitter:focus {
    background-color: #1a8fe8;
    color: #fefefe;
}

.wide-article-link .article-social .social.linkedin {
    background-color: #007bb5;
    color: #fefefe;
}

.wide-article-link .article-social .social.linkedin:hover,
.wide-article-link .article-social .social.linkedin:focus {
    background-color: #006291;
    color: #fefefe;
}

.wide-article-link .article-social .social.google-plus {
    background-color: #dd4b39;
    color: #fefefe;
}

.wide-article-link .article-social .social.google-plus:hover,
.wide-article-link .article-social .social.google-plus:focus {
    background-color: #be3221;
    color: #fefefe;
}

.wide-article-link .article-social .social>.fa {
    color: #fefefe;
}

.wide-article-link .article-social .social>.fa.fa-comments-o {
    margin-right: 0.25rem;
}


/**/

.top-bar-title {
    color: #fff;
}

.topbar-sticky-shrink {
    padding: 2rem;
    transition: padding 0.25s ease;
    background: #2c3840;
}

.topbar-sticky-shrink .menu {
    background: #2c3840;
}

.is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
}

[data-sticky] {
    width: 100%;
}

.topbar-sticky-shrink-header {
    padding: 10rem 0;
    background: aquamarine;
    background-size: contain;
    color: #fff;
}

.ecommerce-footer {
    background-color: #2c3840;
    padding: 70px 20px 40px 20px;
}

.ecommerce-footer-links h5 {
    color: #0a0a0a;
    font-size: 1.2rem;
    font-weight: 600;
}

.ecommerce-footer-links .menu>li>a {
    line-height: 1.5em;
    padding: 0.5rem 0rem;
}

.ecommerce-footer-links a {
    color: #707070;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.ecommerce-footer-links a:hover {
    color: #0a0a0a;
    transition: all 0.5s ease;
}

.ecommerce-footer-links .more-categories {
    margin-top: 2rem;
}

@media screen and (max-width: 39.9375em) {
    .ecommerce-footer-links .more-categories {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 63.9375em) {
    .ecommerce-footer-links .ecommerce-footer-links-block {
        margin-bottom: 3rem;
    }
}

.ecommerce-footer-bottom-bar {
    border-top: 1px solid #e6e6e6;
    margin-top: 40px;
    padding-bottom: 80px;
    padding-top: 30px;
}

.ecommerce-footer-bottom-bar .menu>li>a {
    line-height: 1.2em;
    padding: 10px 0;
}

.ecommerce-footer-bottom-bar a {
    color: #8a8a8a;
    font-size: 0.9rem;
    transition: all 0.5s ease;
}

.ecommerce-footer-bottom-bar a:hover {
    color: #0a0a0a;
    transition: all 0.5s ease;
}

@media screen and (max-width: 39.9375em) {
    .ecommerce-footer-bottom-bar ul {
        text-align: center;
    }
}

.ecommerce-footer-bottom-bar li {
    display: inline;
}

.ecommerce-footer-bottom-bar .bottom-links {
    margin-top: 0.65rem;
    margin-left: 0;
}

.ecommerce-footer-bottom-bar .bottom-links li {
    padding-right: 2rem;
}

@media screen and (max-width: 39.9375em) {
    .ecommerce-footer-bottom-bar .bottom-links li {
        text-align: center;
    }
}

.ecommerce-footer-bottom-bar .ecommerce-footer-logomark {
    text-align: center;
}

@media screen and (max-width: 39.9375em) {
    .ecommerce-footer-bottom-bar .ecommerce-footer-logomark {
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
}

.ecommerce-footer-bottom-bar .bottom-copyright {
    color: #8a8a8a;
    font-size: 0.9rem;
    line-height: 1.2em;
    padding-top: 1rem;
    text-align: right;
}

@media screen and (max-width: 39.9375em) {
    .ecommerce-footer-bottom-bar .bottom-copyright {
        text-align: center;
    }
}

.ecommerce-footer {
    background-color: #2b2828;
    margin-top: 6em;
}


/*===================
    ARTICLE CSS
========================*/

@charset "UTF-8";
.neat-article-container {
    margin-top: 1.5rem;
}

.neat-article-container .neat-article-header {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.neat-article-container .neat-article-header .article-header-avatar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.neat-article-container .neat-article-header .article-header-avatar .header-avatar {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
}

.neat-article-container .neat-article-header .article-header-author {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.neat-article-container .neat-article-header .article-header-author .author-name {
    color: #0a0a0a;
    margin-bottom: 0;
}

.neat-article-container .neat-article-header .article-header-author .author-description,
.neat-article-container .neat-article-header .article-header-author .article-date-read {
    color: #8a8a8a;
    margin-bottom: 0;
    font-size: 0.85em;
}

.neat-article-container .neat-article-title {
    margin-top: 1rem;
}

.neat-article-container .neat-article-title .article-title {
    color: #0a0a0a;
    font-weight: 600;
}

.neat-article-container .neat-article-image {
    margin-top: 1.5rem;
}

.neat-article-container .neat-article-image .article-image {
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .neat-article-container .neat-article-image .article-image {
        height: 65vh;
    }
}

@media screen and (max-width: 39.9375em) {
    .neat-article-container .neat-article-image .article-image {
        height: 45vh;
    }
}

.neat-article-container .neat-article-content {
    margin-top: 2rem;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons {
    text-align: center;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button {
    display: block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button:hover,
.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.facebook:before {
    font-family: "FontAwesome";
    content: "";
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.facebook:hover,
.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.twitter:before {
    font-family: "FontAwesome";
    content: "";
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.twitter:hover,
.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.google-plus {
    background: #dd4b39;
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.google-plus:before {
    font-family: "FontAwesome";
    content: "";
}

.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.google-plus:hover,
.neat-article-container .neat-article-content .article-social .rounded-social-buttons .social-button.google-plus:focus {
    color: #dd4b39;
    background: #fefefe;
    border-color: #dd4b39;
}

.neat-article-container .neat-article-content .article-content {
    color: #0a0a0a;
}
